/* menu */
#menu{
    background-color: black;
    height: 88px;
}
#menu .logo{
    height: 50px;
    width: 50px;
}
#menu .navbar-brand{
    color: white;
    font-family: Montserrat-SemiBold;
    font-size: 20px;
}
#menu .sub-nav li a{
    font-family: Montserrat-SemiBold;
    font-size: 16px;
    color: white;
}
#menu .sub-nav li input{
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: white;
    background-color: #937438;
    width: 110px;
    padding: 6px;
}
.menu-nav {
    margin: 0 auto;
}
#menu .dropdown button{
    background-color: black;
}
#menu .dropdown ul{
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    padding: 10px;
}
#menu .dropdown ul li{
    font-family: Montserrat-Bold;
}
#menu .dropdown ul li a{
    color: #EBB853;
    font-size: 12px;
    padding: 0px;
    margin-top: 20px;
}
#menu .dropdown .icon{
    height: 30px;
    width: 30px;
}
/* end menu */

/* banner */
#banner{
    margin-top: 88px;
    color: white;
}
#banner .img{
    position: relative;
    height: 450px;
}
#banner .img img{
    -webkit-filter: brightness(70%);
    height: 305px;
}
#banner .box {
    position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#banner .box .trangtri{
    border: 2px solid white;
    background-color: white;
    height: 60px;
    width: 2px;
    margin: 0 auto;
}
/* end banner */
.main{
    display: flex;
    width: 100%;
    padding-top: 30px;
    justify-content: space-around;
    background-color: #181A1B;
}
.main_menu{
    width: 300px;
    height: 400px;
    color: white;
    border: 1px solid rgb(205, 194, 194);
}
.main_menu p{
    font-size: 23px;
    padding: 20px;
    position: relative;
    font-family:Montserrat-Regular; 
}
.main_menu p:first-child::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: rgb(184,145,70);
    position: absolute;
    top:55px;
}
.form{
    width: 90%;
    margin: auto;
}
/* .form_item{
    display: flex;
    height: 45px;
    margin-bottom: 18px;
} */
.form div{
    display: flex;
    height: 45px;
    margin-bottom: 18px;
} 
#category,#room{
    flex:1;
    border: 1px solid rgb(205, 194, 194);
    background-color:  rgb(24,26,27 );
    color: white;
    padding: 5px;
}
input{
    flex:1;
    background-color:  rgb(24, 26, 27);
    border: 1px solid rgb(205, 194, 194);
    color: white;
    padding-left: 10px;
    font-family:Montserrat-Regular;
}
::placeholder{
    color:white;
}
.main_menu .btn{
    width: 60%;
    position: relative;
    padding: 0;
}
.check{
    color: white;
    background-color: rgb(184,145,70) ;
    font-size: 20px;
    height: 45px;
    border: none;
    padding-right: 50px;
}

.main_menu .btn img{
    width: 30px;
    position: absolute;
    top:20%;
    left:65%;
}
.main_room>div{
    display: flex;
    color: rgb(204, 211, 216);
}
.main_room>div>div{
    flex: 1;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 1px solid rgb(153, 148, 148);
}
.main_anh img{
    width: 280px;
    height: 190px;
}
.main_nd{
    position: relative;
    margin: 10px 0px 10px 10px;
}
.main_nd p:first-child{
    background-color: rgb(211, 163, 75);
    width: 100px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight:400;
    position: absolute;
    top:-40%;
    font-family:Montserrat-SemiBold;
}
.main_nd p:nth-child(2){
    font-size: 19px;
    font-family:Montserrat-Regular;
}
.main_nd p:nth-child(3){
    font-size: 14px;
    margin: 10px 0 15px 0;
    font-family:Montserrat-Light;
}
.icon{
    font-size: 14px;
}
.icon_nguoi{
    margin-left: 50px;
}
.main_nd_anh{
    position: relative;
    margin: 10px 0px 10px 10px;
}
.main_nd_anh p:first-child{
    background-color: rgb(211, 163, 75);
    width: 100px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight:400;
    position: absolute;
    top:-60%;
}
.main_nd_anh p:nth-child(2){
    font-size: 19px;
}
.main_nd_anh p:nth-child(3){
    font-size: 14px;
    margin: 10px 0 15px 0;
}

/* footer */
#footer{
    background-color: black;
    color: #fff;
    padding: 70px 48px 50px;
}
#footer .logo{
    height: 30px;
    width: 30px;
}
#footer .contact{
    justify-content: space-between;
}
#footer .navbar-brand{
    color: white;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
}
#footer p{
    margin-top: 30px;
    width: 275px;
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #939393;
}
#footer h5{
    position: relative;
    font-size: 18px;
    font-family: Montserrat-Regular;
    padding: 5px 0px;
    margin-bottom: 16px;
}
#footer h5::before{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    border: 2px solid #fff;
}
#footer ul{
    color: #fff;
    padding: 0;
}
#footer li{
    padding-bottom: 10px;
    width: 275px;
    display: flex;
}
#footer li .img{
    display: flex;
    align-items: center;
}
#footer li a{
    color: #939393;
    font-size: 14px;
    font-family: Montserrat-Regular;
}
#footer .Send {
    display: flex;
}
#footer .Send input{
    border: 1px solid #937438;
    background-color: black;
    padding: 10px 70px 10px 10px;
    color: #fff;
}
#footer .Send button{
    padding: 9px;
    background-color: #937438;
    border: none;
}
/* end footer */

