/* menu */
#menu{
    background-color: black;
    height: 88px;
}
#menu .logo{
    height: 50px;
    width: 50px;
}
#menu .navbar-brand{
    color: white;
    font-family: Montserrat-SemiBold;
    font-size: 20px;
}
#menu .sub-nav li a{
    font-family: Montserrat-SemiBold;
    font-size: 16px;
    color: white;
}
#menu .sub-nav li input{
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: white;
    background-color: #937438;
    width: 110px;
    padding: 6px;
}
.menu-nav {
    margin: 0 auto;
}
#menu .dropdown button{
    background-color: black;
}
#menu .dropdown ul{
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    padding: 10px;
}
#menu .dropdown ul li{
    font-family: Montserrat-Bold;
}
#menu .dropdown ul li a{
    color: #EBB853;
    font-size: 12px;
    padding: 0px;
    margin-top: 20px;
}
#menu .dropdown .icon{
    height: 30px;
    width: 30px;
}
/* end menu */

/* banner */
#banner{
    margin-top: 88px;
    color: white;
}
#banner .img{
    position: relative;
    height: 450px;
}
#banner .img img{
    -webkit-filter: brightness(70%);
    height: 305px;
}
#banner .box {
    position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#banner .box .tieude{
    border: 2px solid white;
    background-color: white;
    height: 60px;
    width: 2px;
    margin: 0 auto;
}

/* content */
#content{
    background-color: #181A1B;
    color: #fff;
}
#content .container{
    width: 1110px;
}
#content h3{
    text-align: center;
    font-family:Montserrat-Bold;
    
}
#content .container img{
    height: 252px;
}
#content p{
    font-family:Montserrat-Regular;
    font-size: 14px;
    text-align: justify;
}
.history .img{
    position: relative;
    height: 450px;
}
.history .img img{
    -webkit-filter: brightness(60%);
    height: 305px;
}
.history .box {
    width: 80%;
    position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}





/* footer */
#footer{
    background-color: black;
    color: #fff;
    padding: 70px 48px 50px;
}
#footer .logo{
    height: 30px;
    width: 30px;
}
#footer .contact{
    justify-content: space-between;
}
#footer .navbar-brand{
    color: white;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
}
#footer p{
    margin-top: 30px;
    width: 275px;
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #939393;
}
#footer h5{
    position: relative;
    font-size: 18px;
    font-family: Montserrat-Regular;
    padding: 5px 0px;
    margin-bottom: 16px;
}
#footer h5::before{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    border: 2px solid #fff;
}
#footer ul{
    color: #fff;
    padding: 0;
}
#footer li{
    padding-bottom: 10px;
    width: 275px;
    display: flex;
}
#footer li .img{
    display: flex;
    align-items: center;
}
#footer li a{
    color: #939393;
    font-size: 14px;
    font-family: Montserrat-Regular;
}
#footer .Send {
    display: flex;
}
#footer .Send input{
    border: 1px solid #937438;
    background-color: black;
    padding: 10px 70px 10px 10px;
    color: #fff;
}
#footer .Send button{
    padding: 9px;
    background-color: #937438;
    border: none;
}
/* end footer */