/* menu */
#menu{
    background-color: black;
    height: 88px;
}
#menu .logo{
    height: 50px;
    width: 50px;
}
#menu .navbar-brand{
    color: white;
    font-family: Montserrat-SemiBold;
    font-size: 20px;
}
#menu .sub-nav li a{
    font-family: Montserrat-SemiBold;
    font-size: 16px;
    color: white;
}
#menu .sub-nav li input{
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: white;
    background-color: #937438;
    width: 110px;
    padding: 6px;
}
.menu-nav {
    margin: 0 auto;
}

#menu .dropdown button{
    background-color: black;
}
#menu .dropdown ul{
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    padding: 10px;
}
#menu .dropdown ul li{
    font-family: Montserrat-Bold;
}
#menu .dropdown ul li a{
    color: #EBB853;
    font-size: 12px;
    padding: 0px;
    margin-top: 20px;
}
#menu .dropdown .icon{
    height: 30px;
    width: 30px;
}
/* end menu */

#banner{
    margin-top: 88px;
    color: white;
}
#banner .img{
    position: relative;
}
#banner .img img{
    -webkit-filter: brightness(30%);
}
#banner .box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#banner .box .trangtri{
    border: 2px solid white;
    background-color: white;
    height: 60px;
    width: 2px;
    margin: 0 auto;
}
#step .a{
    width: 20%;
    margin: -95px auto 0px;
}
#step .a li a{
    background-color: transparent;
    color: white;
}
#step .a li span{
    background-color: #937438;
    border-color: #937438;
    color: #fff;
}
#step .b{
    width: 26%;
    margin: 0 auto;
}
#step .b li a{
    background-color: transparent;
    color: white;
    font-size: 12px;
}
#step .b li span{
    background-color: transparent;
    color: white;
    font-size: 12px;
}
#step .b li{
    width: 120px;
    border: none;
    text-align: center;    
}

#Time .container{
    margin-left: 570px;
}


#center {
    padding-left: 150px;
}

#center .container img{
    height: 500px;
    width: 1140px;
}
#center .container .img img{
    height: 25px;
    width: 35px;
}
#loaiphong{
    padding-left: 150px;
}

#pttt{
    padding-left: 150px;
}

#pttt .nganhang img{
    width: 200px;
    height: 45px;
    margin-left: 50px;
}

#chon{
    padding-left: 150px;
}

#chon label{
    padding-left: 50px;
}

#chon input{
    margin-left: 300px;
}

#button{
    background-color: #181A1B;
    padding-left: 900px;
}

#button button{
   height: 40px;
    width: 300px;
    background-color: #937438;
    color: white;
}

#footer{
    background-color: black;
    color: #fff;
    padding: 70px 48px 50px;
}
#footer .logo{
    height: 30px;
    width: 30px;
}
#footer .contact{
    justify-content: space-between;
}
#footer .navbar-brand{
    color: white;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
}
#footer p{
    margin-top: 30px;
    width: 275px;
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #939393;
}
#footer h5{
    position: relative;
    font-size: 18px;
    font-family: Montserrat-Regular;
    padding: 5px 0px;
    margin-bottom: 16px;
}
#footer h5::before{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 60px;
    height: 1px;
    border: 2px solid #fff;
}
#footer ul{
    color: #fff;
    padding: 0;
}
#footer li{
    padding-bottom: 10px;
    width: 275px;
    display: flex;
}
#footer li .img{
    display: flex;
    align-items: center;
}
#footer li a{
    color: #939393;
    font-size: 14px;
    font-family: Montserrat-Regular;
}
#footer .Send {
    display: flex;
}
#footer .Send input{
    border: 1px solid #937438;
    background-color: black;
    padding: 10px 70px 10px 10px;
    color: #fff;
}
#footer .Send button{
    padding: 9px;
    background-color: #937438;
    border: none;
}